{% extends "blogapp/base.html" %}
{% block title %}Blog Home {% endblock %}
{% block main %}

<div class="card" style="width: 18rem;" >
    {% for blogs in blog %}
    <div class="card-group">
        <div class="card">
          {% comment %} <img src="{{\media\{{blogs.blogimage}}}}" class="card-img-top" alt="..."> {% endcomment %}
          <div class="card-body">
            <h5 class="card-title">{{blogs.blogtitle}}</h5>
            <p class="card-text">{{blogs.blogdecription}}</p>
            
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}